<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>개발의 시발점</display-name>
	
	<session-config>
	    <session-timeout>360000</session-timeout>
	</session-config>
	
	<servlet>
		<servlet-name>MainFrontController</servlet-name>
		<servlet-class>com.shiva.main.controller.MainFrontController</servlet-class>
		<init-param>
			<param-name>charset</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainFrontController</servlet-name>
		<url-pattern>*.shiva</url-pattern>
	</servlet-mapping>
	

	<servlet>
     	<servlet-name>ResumeFrontController</servlet-name>
    	<servlet-class>com.shiva.resume.controller.ResumeFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
     	<servlet-name>ResumeFrontController</servlet-name>
    	<url-pattern>*.ro</url-pattern>
	</servlet-mapping>

	<servlet>
     	<servlet-name>UsedFrontController</servlet-name>
    	<servlet-class>com.shiva.used.controller.UoFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>UsedFrontController</servlet-name>
     	<url-pattern>*.uo</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>CarFrontController</servlet-name>
     	<servlet-class>com.shiva.car.controller.CarFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
     	<servlet-name>CarFrontController</servlet-name>
    	<url-pattern>*.co</url-pattern>
	</servlet-mapping>

	<servlet>
     	<servlet-name>LicenseFrontController</servlet-name>
    	<servlet-class>com.shiva.license.controller.LicenseFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LicenseFrontController</servlet-name>
		<url-pattern>*.lo</url-pattern>
	</servlet-mapping>
  
<!-- 	<welcom-file-list>
		<welcom-file>index.jsp</welcom-file>
	</welcom-file-list> -->
</web-app>
